@model IEnumerable<BlogApp.Models.Blog>
@{
    ViewData["Title"] = "All Blogs";
}

<div class="container py-4">
    <h1>@ViewData["Title"]</h1>
    <ul class="list-group">
    @foreach(var b in Model) {
        <li class="list-group-item">
            <a asp-action="Details" asp-route-id="@b.Id">@b.Title</a>
        </li>
    }
    </ul>
</div>
