@page
@model BlogApp.Areas.Identity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Personal Data";
}

<h4>Download Your Data</h4>

<form method="post">
    <button class="btn btn-primary" type="submit">Pobierz dane jako PDF</button>
</form>
