:root {
  --bg-color: #e8f8f5;
  --text-color: #2e4a52;
  --card-bg: #d1f2eb;
  --border-color: #b8e0db;
  --box-shadow-color: rgba(0, 128, 128, 0.1);
  --link-hover: #66bfbf;
  --btn-hover: #c4edea;
  --placeholder-color: #709ca7;
}

html.dark-mode {
  --bg-color: #121212;
  --text-color: #e4e4e4;
  --card-bg: #1e1e1e;
  --border-color: #333;
  --box-shadow-color: rgba(255, 255, 255, 0.05);
  --link-hover: #58a6ff;
  --btn-hover: #2c2c2c;
  --placeholder-color: #aaaaaa;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
  color: var(--placeholder-color);
  text-align: end;
}

.form-floating > .form-control:focus::placeholder,
.form-floating > .form-control-plaintext:focus::placeholder {
  text-align: start;
}

.fixed-image {
  width: 100%;
  max-width: 900px;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem var(--box-shadow-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.box-shadow {
  box-shadow: 0 0.5rem 1rem var(--box-shadow-color);
}

.limited-width {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-color: var(--border-color);
}

.navbar,
.footer {
  background-color: var(--card-bg) !important;
  color: var(--text-color);
}

.navbar a,
.footer a {
  color: var(--text-color);
}

.card-title a.stretched-link {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}

.card-title a.stretched-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

/* Dynamiczne tła */
.dynamic-bg {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-color: var(--border-color);
}

.dynamic-link {
  color: var(--text-color) !important;
  text-decoration: none;
}

.dynamic-link:hover {
  color: var(--link-hover) !important;
  text-decoration: underline;
}

html.dark-mode .text-muted {
  color: #ffffff !important;
}

.vote-buttons .btn-outline-success,
.vote-buttons .btn-outline-danger,
.comment-vote {
  border-color: var(--border-color);
}

.card-footer a {
  position: relative;
  z-index: 2;
}
